<p-dataView [value]="items" layout="list">
  <ng-template let-ingredient pTemplate="listItem">
    <div class="p-col-12" *ngFor="let ingredient of items">
      <p-card>
        <div class="p-grid">
          <div class="p-col-12 p-md-4">
            <h2>{{ ingredient.commonName }}</h2>
          </div>
          <div class="p-col-12 p-md-8">
            <div><strong>ID:</strong> {{ ingredient.id }}</div>
            <div><strong>Description:</strong> {{ ingredient.description }}</div>
            <div><strong>Gluten Free:</strong> {{ ingredient.glutinFree ? 'Yes' : 'No' }}</div>
            <div><strong>Allergens:</strong> {{ ingredient.allergen.join(', ') || 'None' }}</div>
          </div>
        </div>
      </p-card>
    </div>
  </ng-template>
</p-dataView>
