<p-dataView #userView [value]="items">
    <ng-template pTemplate="list" let-items let-index="index">
        <div *ngFor="let pizza of items">
            <div class="data-row flex">
                <p-image src="https://th.bing.com/th/id/OIP.holHmftzMUgONoL-6n_dTQHaE7?rs=1&pid=ImgDetMain"
                    width="192px" />
                <p>Name : {{pizza.name}}</p>
                <p>Pice : {{pizza.price}} <span class="pi pi-euro"></span> </p>
                <div *ngIf="buyMode">
                    <p-button icon="pi pi-shopping-cart" />
                </div>
            </div>

        </div>
    </ng-template>
</p-dataView>