<mat-card>
  <mat-card-header>
    <mat-card-content class="inline">
      <mat-card-title class="presentation_text">User Home</mat-card-title>
    </mat-card-content>
  </mat-card-header>
  <div class="card-body">
    <mat-card-content class="inline">
          <mat-icon matSuffix class="material-icons" id="account_icon">account_circle</mat-icon>
    <span class="presentation_text">Username : {{user?.username}}</span>
    </mat-card-content>
  <mat-card-content class="inline">
    <mat-icon matSuffix class="material-icons" id="email_icon">email</mat-icon>
    <span class="presentation_text">Email : {{user?.email}}</span>
  </mat-card-content>
  <mat-card-content class="inline">
    <mat-icon matSuffic class="material-icons" id="card-icon">card</mat-icon>
    <span class="presentation_text">Name: {{user?.name}}</span>
  </mat-card-content>
    <mat-card-content class="inline">
    <mat-icon matSuffic class="material-icons" id="card-icon">card</mat-icon>
    <span class="presentation_text">Surname: {{user?.surname}}</span>
  </mat-card-content>
    <mat-card-content class="inline">
    <mat-icon matSuffic class="material-icons" id="card-icon">card</mat-icon>
    <span class="presentation_text">Address: {{user?.address}}</span>
  </mat-card-content>
  </div>
</mat-card>
