<!-- User profile template-->



<!-- Order visualization template-->
<ng-template #orderVisualization> </ng-template>

<!--Main view manager-->
<p-card styleClass="ComponentCard">
  <p-tabMenu
    [model]="menu_items"
    (activeItemChange)="onTabChange($event)"
    [activeItem]="active_item"
  />

  <div *ngIf="active_item == menu_items[0]">
    <app-user-profile-view [user]="user"/>
  </div>

  <div *ngIf="active_item == menu_items[1]">
    <app-order-list-view [orderList]="orderList" [listMode]="mode" />
  </div>
</p-card>
