<!-- User profile template-->



<!-- Order visualization template-->
<ng-template #orderVisualization> </ng-template>

<!--Main view manager-->
<p-card styleClass="ComponentCard">
  <p-tabMenu
    [model]="menu_items"
    (activeItemChange)="onTabChange($event)"
    [activeItem]="active_item"
  />


  <div *ngIf="active_item == menu_items[0]">
    <app-user-profile-view [user]="user" *ngIf="user != null"/>
    <p *ngIf="user == null" class="errorText centered">Error user not authenticated</p>
  </div>

  <div *ngIf="active_item == menu_items[1]">
    <app-order-list-view [orderList]="orderList" [listMode]="mode" />
  </div>

  <div *ngIf="active_item == menu_items[2]">
    <app-pizza-list-view [items]="userPizzas"/>
  </div>

  <div *ngIf="active_item == menu_items[3]">
  <app-user-list-view [users]="friends"/>
  </div>
  <div *ngIf="active_item == menu_items[4]">
    <app-pizzeria-registrar *ngIf="!user?.isVendor; else elseBlock"/>
    <ng-template  #elseBlock>
      pannello pizza admin
      </ng-template>
    </div>
</p-card>
