<p-card styleClass="ComponentCard" header="Create a Pizzeria">
  <div class="centered">
  <form name="create_pizzeria">
    <p-floatLabel class="formfield">
      <input pInputText id="name" [(ngModel)]="name" name="name" />
      <label for="name">Name</label>
    </p-floatLabel>
        <p-floatLabel class="formfield">
      <input pInputText id="vatNumber" [(ngModel)]="vatNumber" name="vatNumber" />
      <label for="vatNumber">VAT Number</label>
    </p-floatLabel>
            <p-floatLabel class="formfield">
      <input pInputText id="address" [(ngModel)]="address" name="adderess" />
      <label for="address">address</label>
    </p-floatLabel>
<p-button class="centered formfield" label="Create Pizzeria" (onClick)="createPizzeria()"/>
<strong class="errorText">{{errorMessage}}</strong>
  </form>
  </div>
</p-card>