@import "primeng/resources/themes/bootstrap4-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    padding: 0;
    background-color: black;
  }

.ComponentCard{
  margin: 2rem;
}


.errorText{
  color: red;
}


.formfield {
  margin: 2rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer{
  margin: 2rem;
}



.data-row{
  margin: 2rem;
  padding: 1rem;
  border-bottom: solid 1px ;
}

.selectable:hover{
  background: grey;
  cursor: pointer;
}


