<p-card styleClass="ComponentCard">
  <div class="centered">
  <form name="sign_in">
    <p-floatLabel class="formfield">
      <input pInputText id="username" [(ngModel)]="username" name="username" />
      <label for="username">Username</label>
    </p-floatLabel>
    <p-floatLabel class="formfield">
    <p-password [(ngModel)]="password" [feedback]="false" name="password"/>
    <label for="password">Password</label>
</p-floatLabel>
<p-floatLabel class="formfield">
    <p-password [(ngModel)]="password_confirmation" [feedback]="false" name="password_confirmn"/>
    <label for="password">Password Confirmation</label>
</p-floatLabel>
<p-button class="centered formfield" label="Signin" (onClick)="signin()"/>
<strong class="errorText">{{errorMessage}}</strong>
  </form>
  </div>
</p-card>
