<p-card styleClass="ComponentCard" header="Login">
<div class="centered">
    <form name="LoginForm">
      <p-floatLabel class="formfield">
    <input pInputText id="username" [(ngModel)]="username"  name="username" />
    <label for="username">Username</label>
  </p-floatLabel>
<p-floatLabel class="formfield">
    <p-password [(ngModel)]="password" [feedback]="false" name="password"/>
    <label for="password">Password</label>
</p-floatLabel>
<p-button label="Login" class="formfield centered" (onClick)="login()"/>
<p class="centered errorText">{{errorMessage}}</p>
  </form>
</div>
</p-card>
